/my-project/date_counter/node_modules
/03-pizza-menu/starter/pizza-menu/node_modules
/my-project/react-challenge-dev-profile-final-v2/node_modules
/my-project/react-challenge-date-counter/node_modules
my-project/react-challenge-date-counter/.env
/my-project/node_modules
my-project/node_modules.7z
/my-project/atomic-blog/node_modules
